<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
  integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
  crossorigin="anonymous"
/>

<div class="container text-center">
  <div class="row">
    <div class="col-md-12">
      <h1>Your password is:</h1>
      <h2 class="alert alert-success">{{ password }}</h2>

      <a href="{% url 'home' %}" class="btn btn-warning">Home</a>
      <a href="{% url 'about' %}" class="btn btn-secondary">About</a>
    </div>
  </div>
</div>
